<template>
    <div class="wone-global-wrap flush-box wone-service-wrap">
        <section class="wone-menu-wrap">
            <!-- left menu top -->
            <div class="wone-people-info-wrap flush-box">
                <div class="in-logo"><img src="assets/images/logo/wone_3_logo_gradient.png" alt="logo" /></div>
                <div class="in-info">
                    안녕하세요!<br />
                    <strong><span>{{name}}</span>님</strong>
                </div>
            </div>
            <AdminSidebarMenu />
            <div class="logout">로그아웃</div>
        </section>
        <div class="wone-contents-wrap"> <!-- contents -->
            <div class="wone-bread-info-wrap ">
                <div class="depth1 mb-2">미리보기<i class="el-icon-arrow-right"></i></div>
<!--                <div class="depth2 mb-3">{{selectedMenu[0]}}</div>-->
            </div> <!-- bread menu -->
            <div class="wone-page-wrap">
<!--                <Nuxt />-->
            </div>
        </div>
        <loading-icon />
    </div>
</template>
<script>
import AdminSidebarMenu from "@/components/layout/admin-sidebar-menu"

export default {
    components: {
        AdminSidebarMenu
    },
    data() {
        return {
        }
    },
    computed: {
        name() {
            return this.$store.getters[this.$authenticatedConstants.GET_NAME] },
    },
        menusList() {
            return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
    },
        selectedMenu() {
            return this.$store.getters[this.$menuConstants.GET_SELECTED_MENU]
    },

}
</script>
