<template>
    <div class="wone-main-container">
        <section class="admin-info-out-box">
            <div class="admin-info-title">관리자 정보 설정</div>
            <i class="admin-info-inner-box">
                <div class="admin-info-box">
                    <el-input placeholder="관리자" v-model="input1">
                        <template slot="prepend"><i class="name">이름</i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input placeholder="admin" v-model="input1">
                        <template slot="prepend"><i class="admin-id">아이디
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input placeholder="*********" v-model="input" show-password>
                        <template slot="prepend"><i class="admin-password">비밀번호
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-box">
                    <el-input placeholder="admin@gmail.com" v-model="input1">
                        <template slot="prepend"><i class="admin-email">이메일
                        </i></template>
                    </el-input>
                </div>
                <div class="admin-info-button">
                    <el-button class="update-button"><i class="update-button-text">수정</i></el-button>
                    <el-button class="ok-button"><i class="update-ok-text">확인</i></el-button>
                </div>
            </i>
        </section>
        <section class="footer-info-out-box">
            <div class="footer-info-title">푸터 정보 설정</div>
            <i class="footer-inner-box">
                <div class="footer-info-box">
                    <el-input placeholder="WONE" v-model="input1">
                        <template slot="prepend"><i class="company-name">회사명</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="김대표" v-model="input1">
                        <template slot="prepend"><i class="ceo-name">대표자 이름</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="031-123-4567" v-model="input1">
                        <template slot="prepend"><i class="call-number">전화번호</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="경기도 안산시 단원구 고잔동 123" v-model="input1">
                        <template slot="prepend"><i class="address">주소</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="123-45-678" v-model="input1">
                        <template slot="prepend"><i class="business-number">사업자 번호</i></template>
                    </el-input>
                </div>
                <div class="footer-info-box">
                    <el-input placeholder="Copyrught(c) WONE All right reserved" v-model="input1">
                        <template slot="prepend"><i class="copyright">Copyright</i></template>
                    </el-input>
                </div>
                <div class="footer-info-button">
                    <el-button class="update-button"><i class="update-button-text">수정</i></el-button>
                    <el-button class="ok-button"><i class="update-ok-text">확인</i></el-button>
                </div>
            </i>
        </section>
    </div>
</template>


<script>
export default {
    data () {
        return {
            size: '',
            input:''
        };
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'ADMIN_INFO')
    }
}
</script>
