<template>
    <div class="wone-main-container">
        <section class="board-out-box">
            <div class="board-title">
                <p class="board-title-text">이용방법</p>
                <el-input class="board-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="input2">
                </el-input>
            </div>
            <div class="board-inner-box">
                <div class="board-ask-table">
                    <el-table
                        ref="multipleTable"
                        :data="tableData"
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                        <el-table-column
                            type="selection"
                            width="55">
                        </el-table-column>
                        <el-table-column
                            property="no"
                            label="No."
                            width="60">
                        </el-table-column>
                        <el-table-column
                            property="guideTitle"
                            label="제목"
                            width="120">
                        </el-table-column>
                        <el-table-column
                            property="guideContents"
                            label="안내">
                        </el-table-column>
                    </el-table>
                </div>
                <div class="pagination">
                    <el-pagination class="notice-page-number"
                                   small
                                   layout="prev, pager, next"
                                   :total="50">
                    </el-pagination>
                    <div class="board-button">
                        <el-button class="board-update-button"><i class="board-update-button-text">삭제</i></el-button>
                        <el-button class="board-update-button"><i class="board-update-button-text">수정</i></el-button>
                        <el-button class="board-ok-button"><i class="board-ok-text">등록</i></el-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tableData: [{
                no: 1,
                guideTitle: '시작하기',
                guideContents: 'WONE은 체크카드를 이용하는 소비 관리 서비스입니다. WONE을 이용하기 위해서는 계정을 생성하여 카드 등록 절차를 진행해야 합니다.'
            },
                {
                    no: 2,
                    guideTitle: '로그인하기',
                    guideContents: 'WONE에 로그인하기 위해서는 회원가입 절차를 진행하여 게정을 생성해야합니다.',
                },
                {
                    no: 3,
                    guideTitle: '프로필',
                    guideContents: '[≡] 아이콘을 클릭해, 내 프로필을 확인하고 정보를 수정할 수 있습니다.',
                },
                {
                    no: 4,
                    guideTitle: '메인화면',
                    guideContents: '당일 챌린지 상태를 확인할 수 있습니다.',
                },
                {
                    no: 5,
                    guideTitle: '설정',
                    guideContents: '[톱니바퀴] 아이콘을 클릭해, 원하는 설정 메뉴를 선택합니다.',
                },
            ]
        }
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD')
    }
}
</script>
