<template>
    <div class="wone-main-container">
        <section class="board-contents-register">
            <div class="board-contents-register-title">이용방법</div>
            <el-input class="contents-input-box"
                      type="textarea"
                      :rows="17"
                      placeholder=""
                      v-model="textarea">
            </el-input>
            <div class="board-contents-register-button">
                <el-button class="board-contents-register-update-button"><i class="board-contents-register-update-button-text">수정</i></el-button>
                <el-button class="board-contents-register-button"><i class="board-contents-register-text">등록</i></el-button>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD')
    }
}
</script>
