<template>
    <div class="wone-main-container">
        <section class="board-out-box">
            <div class="board-title">
                <p class="board-title-text">공지사항</p>
                <el-input class="board-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="input2">
                </el-input>
            </div>
            <div class="board-inner-box">
                <div class="board-ask-table">
                    <el-table
                        ref="multipleTable"
                        :data="tableData"
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                        <el-table-column
                            type="selection"
                            width="55">
                        </el-table-column>
                        <el-table-column
                            property="no"
                            label="No."
                            width="60">
                        </el-table-column>
                        <el-table-column
                            property="createDate"
                            label="등록일자"
                            width="120">
                        </el-table-column>
                        <el-table-column
                            property="noticeTitle"
                            label="공지제목">
                        </el-table-column>
                    </el-table>
                </div>
                <div class="pagination">
                    <el-pagination class="notice-page-number"
                                   small
                                   layout="prev, pager, next"
                                   :total="50">
                    </el-pagination>
                    <div class="board-button">
                        <el-button class="board-update-button"><i class="board-update-button-text">삭제</i></el-button>
                        <el-button class="board-update-button"><i class="board-update-button-text">수정</i></el-button>
                        <el-button class="board-ok-button"><i class="board-ok-text">등록</i></el-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tableData: [{
                no: 1,
                createDate: '2024-01-02',
                noticeTitle: 'WONE 1.0 정기 업데이트 소식',
            },
                {
                    no: 2,
                    createDate: '2024-01-09',
                    noticeTitle: 'WONE 1.1 정기 업데이트 소식',
                },
                {
                    no: 3,
                    createDate: '2024-01-16',
                    noticeTitle: 'WONE 서비스 이용 약관 변경 안내',
                },
                {
                    no: 4,
                    createDate: '2024-01-23',
                    noticeTitle: 'WONE 1.2 정기 업데이트 소식',
                },
                {
                    no: 5,
                    createDate: '2024-01-30',
                    noticeTitle: 'WONE 1.3 정기 업데이트 소식',
                },
            ]
        }
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD')
    }
}
</script>
