<template>
    <div class="wone-main-container">
        <div class="wone-page-wrap"> <!--총 가입자 수-->
            <div class="user-inflow-out-box">
                <div class="total-user">총 가입자 수
                    <div class="total-people">200
                        <i class="number-of-people">명</i>
                    </div>
                </div>
                <i class="user-inflow-inner-box"></i>
            </div>
            <div class="notice-out-box"> <!--공지사항-->
                <div class="notice">공지사항</div>
                <i class="notice-inner-box"></i>
            </div>
            <div class="notice-out-box"> <!--문의사항-->
                <div class="notice">문의사항</div>
                <i class="notice-inner-box"></i>
            </div>
            <div class="user-list-out-box"> <!--사용자 리스트-->
                <div class="user-list">사용자 리스트</div>
                <i class="user-list-inner-box"></i>
            </div>
            <div class="plus-button">+</div> <!--추가버튼-->
        </div>
    </div>
</template>

<script>
</script>
