<template>
    <div class="wone-main-container">
        <section class="service-user-list-out-box">
            <div class="service-user-list-title">
                <p class="service-user-list">사용자 리스트</p>
                <el-input class="user-list-search-bar"
                      placeholder=""
                      prefix-icon="el-icon-search"
                      v-model="input2">
                </el-input>
            </div>
            <div class="service-user-list-inner-box">
                <div class="user-list-table">
                <el-table
                    :data="tableData"
                    style="width: 100%">
                    <el-table-column
                        prop="no"
                        label="No"
                        width="180">
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        label="사용자명"
                        width="180">
                    </el-table-column>
                    <el-table-column
                        prop="identity"
                        label="아이디">
                    </el-table-column>
                    <el-table-column
                        prop="JoinDate"
                        label="가입일">
                    </el-table-column>
                    <el-table-column
                        prop="memberStatus"
                        label="역할">
                    </el-table-column>
                </el-table>
                </div>
                <div class="pagination">
                    <el-pagination
                        small
                        layout="prev, pager, next"
                        :total="50">
                    </el-pagination>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
export default {
    data() {
        return {
            tableData: [{
                no: 1,
                name: 'admin',
                identity: 'admin1234',
                JoinDate: '2024-01-02',
                memberStatus: '관리자'
            },
                {
                    no: 2,
                    name: '김철수',
                    identity: 'kcs1121',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
                {
                    no: 3,
                    name: '박영희',
                    identity: 'pyh1222',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
                {
                    no: 4,
                    name: '이나리',
                    identity: 'lnl0123',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
                {
                    no: 5,
                    name: '김수빈',
                    identity: 'ksb0224',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
                {
                    no: 6,
                    name: '최민아',
                    identity: 'cma0325',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
                {
                    no: 7,
                    name: '장서현',
                    identity: 'jsh0426',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
                {
                    no: 8,
                    name: '김시우',
                    identity: 'ksw0527',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
                {
                    no: 9,
                    name: '황민우',
                    identity: 'hmw0628',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
                {
                    no: 10,
                    name: '김길동',
                    identity: 'dongdong11',
                    JoinDate: '2024-01-04',
                    memberStatus: '사용자'
                },
            ]
        }
        // this.$store.dispatch(this.$memberConstants.DO_MEMBER, payload)
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'USER_LIST')
    }
}
</script>
